header, footer {
    color:aqua;
    background-color:yellow;
}

h1, h2, h3, h4, h5 {
    color:yellowgreen;
    background-color:red;
}

.UGLY {
    color:blue;
    background-color:darkolivegreen;
}

p {
    color:fuchsia;
    background-color:burlywood;
}

body {
    background-color:purple;
}

a {
    color:red;
}

a:visited {
    color:green;
}

a:hover {
    color:yellow;
}