body {
    background-image: url("a5bg.png");
}

header {
    font-family:Helvetica, Arial, sans-serif;
    background-color:white;
    padding-left:25px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top: 25px;
}

header h1 {
    font-weight:normal;
}

nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

nav li {
    display:inline-block;
    margin-bottom:35px;
    margin-top:35px;
    margin-right:10px;
}

nav li a {
    color:white;
    background-color:darkblue;
    text-decoration:none;
    padding-left:10px;
    padding-right:35px;
    padding-top:10px;
    padding-bottom:10px;
}

nav li a:hover {
    background-color:rgb(207, 207, 207);
}

main {
    background-color:white;
    padding-left:25px;
    padding-top:20px;
    padding-bottom:20px;
}

main h2 {
        font-family:Helvetica, Arial, sans-serif;
        border-bottom: 3px solid black;
        padding-bottom:10px;

}

main a {
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    color:blue;
}

main a:hover {
    font-style:normal;
    font-weight:bold;
    text-decoration:underline;
    color:Red;
}

footer {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    font-weight:bold;
    color:white;
    background-color:darkblue;
    border: 5px solid white;
    text-align:center;
    padding-top:25px;
    padding-bottom:25px;
    margin-top:25px;
}